#land-section {
    background-color: #2E9CCA;
    min-height: 60vh;
    padding-top: 140px;
}

@media (max-width: 768px) {
    #land-section {
        background-color: #2E9CCA;
        min-height: 60vh;
        padding-top: 100px;
    }

}

.index-land-div {
    width: 100%;
}

.land-div-header {
    text-align: center;
}

.search {
    width: 100%;
    position: relative;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid transparent;
    padding: 15px;
    outline: none;
    color: #9DBFAF;
    height: 50px;
    border-radius: 60px 0 0 60px;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    height: 50px;
    border: 5px solid #0079A1;
    width: 100px;
    border-radius: 0 60px 60px 0;
    background: #0079A1;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 50%;
    padding-top: 80px;
    padding-bottom: 100px;
    margin-left: calc(15% + 20px);
}

@media (min-width: 1024px) {

    .wrap {
        width: 30%;
        padding-top: 80px;
        padding-bottom: 100px;
        margin-left: calc(30% + 20px);
    }

}

.land-icon-left {
    max-height: 100px;
    float: right;
}

.land-icon-center {
    max-height: 100px;
    display: block;
    margin: auto;
}

.land-icon-right {
    max-height: 100px;
    float: left;
}

@media (max-width: 767px) {
    .land-icon-left {
        display: none;
    }

    .land-icon-center {
        max-height: 70px;
    }

    .land-icon-right {
        display: none;
    }

    h3 {
        font-size: 17px;
    }

    .search {
        width: 90%;
        position: relative;
        margin: auto;
    }

    .wrap {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 60px;
        margin: auto;
    }

    .searchTerm {
        margin: auto;
        border: 3px solid transparent;
        padding: 15px;
        outline: none;
        width: 100%;
        color: #9DBFAF;
        height: 36px;
        border-radius: 0;
    }

    .searchTerm:focus {
        color: #00B4CC;
    }

    .searchButton {
        position: relative;
        height: 36px;
        width: 100%;
        border: 5px solid #0079A1;
        border-radius: 0;
        background: #0079A1;
        text-align: center;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
    }
}

.ui-menu .ui-menu-item a, li {
    color: black;
    border: 0;
}

.ui-menu .ui-menu-item a, li:hover {
    color: black;
    border: 0;
    cursor: pointer;
}

div.cat-button:hover > .dropdown-menu {
    display: block;
}

#cat-button-section {
    background-color: #DFDCE3;
    padding: 0;
}

.cat-button {
    background-color: #DFDCE3;
    height: 50px;
    vertical-align: middle;
}

.cat-button button {
    text-align: center;
    width: 100%;
    font-size: 20px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.cat-button button:hover {
    text-decoration: underline;
}

.sub-cat {
    font-size: 16px !important;
    border-radius: 0!important;
}

.dropdown-menu {
    border-radius: 0;
    margin: 0;
    border-top: 0;
}

.cat-button p {
    padding-top: 8px;
    text-align: center;
}

@media (max-width: 768px) {

    .cat-button {
        display: none;
    }

    .cat-button p {
        padding-top: 8px;
        text-align: center;
    }

}

.land-process-div {
    padding-top: 100px;
    padding-bottom: 20px;
    border-bottom: solid 1px #2E9CCA;
    text-align: center;
}

.land-process-div p {
    font-weight: lighter;
    font-size: 25px;
}

.process-one {
    padding-left: 60px;
    padding-right: 60px;
}

.process-two {
    padding-left: 60px;
    padding-right: 60px;
}

.process-icon-div {
    padding-top: 80px;
}

.process-icon-div img {
    max-height: 70px;
    display: block;
    margin: auto;
}

@media (max-width: 992px) {
    .process-icon-div img {
        max-height: 70px;
        display: none;
        margin: auto;
    }

    .process-icon-div {
        padding-top: 0;
    }

    .land-process-div {
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: solid 1px #2E9CCA;
        text-align: center;
    }

    .land-process-div p {
        font-weight: lighter;
        font-size: 18px;
    }
}

.process-arrow {
    max-width: 100%;
}

.recent-div {
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: none;
}

.news-div {
    min-height: 300px;
    padding-top: 100px;
    padding-bottom: 20px;
    border-bottom: solid 1px #2E9CCA;
}

@media (max-width: 552px) {
    .process-arrow {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        max-height: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .recent-div {
        min-height: 300px;
        padding-top: 50px;
        padding-bottom: 20px;
        border-bottom: none;
    }

    .recent-div h3 {
        text-align: center;
    }

    .news-div {
        min-height: 300px;
        padding-top: 50px;
        padding-bottom: 20px;
        border-bottom: solid 1px #2E9CCA;
    }

    .news-div h3 {
        text-align: center;
    }
}

.mailing-div {
    width: 100%;
    text-align: center;
}

#mailing-list {
    background-color: #DFDCE3;
    min-height: 100px;
}

@media (max-width: 768px) {
    #mailing-list {
        padding-bottom: 10px;
        padding-top: 10px;
    }

}

.mailing-div form {
    display: inline-block;
}

.recent-a {
    display: block;
}

.recent-a img {
    max-height: 100px;
    width: auto;
    margin: auto;
    display: block;
}

.recent-div p {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}

.recent-div h3 {
    text-align: center;
    padding-bottom: 50px;
}

.btn-recent {
    background-color: #2E9CCA;
    color: white;
    width: 70%;
    margin: auto;
    cursor: pointer;
    display: block;
}

@media (max-width: 992px) {

    .btn-recent {
        background-color: #2E9CCA;
        color: white;
        width: 100%;
        font-size: 10px;
        margin: auto;
        cursor: pointer;
        display: block;
    }

    .recent-div p {
        text-align: center;
        padding-top: 15px;
        font-size: 15px;
    }

}