{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}"/>

    <section id="account-section">
        <div class="container">
            <button type="button" class="btn account-lgout-button" onclick="window.location.href='/logout/'">
                Logout
            </button>
            <div class="row">
                <div class="col-sm-6 col"><h3 class="account-h2">My Account</h3></div>
                <div class="col-sm-6 col"><h3 class="welcome-h2">Welcome {{ user.first_name }}</h3></div>
                <div class="col-sm-12 account-tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills flex-column flex-md-row">
                        <li class="nav-item">
                            <a class="nav-link active account-tab" data-toggle="tab" href="#likes" role="tab">My
                                Likes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link account-tab" data-toggle="tab" href="#comments" role="tab">My
                                Comments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link account-tab" data-toggle="tab" href="#added" role="tab">My Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link account-tab" data-toggle="tab" href="#details" role="tab">Account
                                Details</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active tab-content-div" id="likes" role="tabpanel">
                            {% for product in liked_products %}
                                <div class="product-like-div">
                                    <a class="account-like-a" href="/product/{{ product.id }}"><img
                                            src="{{ product.image.url }}"
                                            class="img-responsive"></a>
                                    <a href="/product/{{ product.id }}"><p
                                            class="like-product-name">{{ product.name }}</p></a>
                                    <p class="like-product-likes">{{ product.likes.count }} likes</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane tab-content-div" id="comments" role="tabpanel">
                            ...
                        </div>
                        <div class="tab-pane tab-content-div" id="added" role="tabpanel">
                            {% for product in added %}
                                <div class="product-like-div">
                                    <a class="account-like-a" href="/product/{{ product.id }}"><img
                                            src="{{ product.image.url }}"
                                            class="img-responsive"></a>
                                    <a href="/product/{{ product.id }}"><p
                                            class="like-product-name">{{ product.name }}</p></a>
                                    <p class="like-product-likes">{{ product.likes.count }} likes</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane tab-content-div" id="details" role="tabpanel">
                            <form class="" method="POST"
                                  action="{% url 'change_details' %}">{% csrf_token %}
                                <div class="account-div mx-auto">
                                    <label for="inputEmail">Change Email address</label>
                                    <input type="text" id="email2" name="email" class="form-control"
                                           placeholder="{{ user.username }}">
                                    <label for="inputPassword">Change Password</label>
                                    <input type="password" id="password" name="old_password" class="form-control"
                                           placeholder="Old Password">
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="password" name="new_password" class="form-control"
                                           placeholder="New Password">
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="password2" name="password" class="form-control"
                                           placeholder="New Password">
                                    <button class="btn btn-lg btn-primary" type="submit" id="registerButton">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-pills a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // With HTML5 history API, we can easily prevent scrolling!
        $('.nav-pills a').on('shown.bs.tab', function (e) {
            if (history.pushState) {
                history.pushState(null, null, e.target.hash);
            } else {
                window.location.hash = e.target.hash; //Polyfill for old browsers
            }
        })

        $(document).ready(function () {
            $(this).scrollTop(0);
        });

    </script>
{% endblock %}