{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}"/>

    <section id="category_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 account-tabs">
                    <ul class="nav nav-pills flex-column flex-md-row">
                        {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" role="tab"
                                   href="#{{ category.name }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-content sub-cat-div" style="width: 100%">
                    {% for category in categories %}
                        {% if category.name == 'Software' %}
                            <div class="tab-pane tab-content-div active" id="{{ category.name }}" role="tabpanel">
                        {% else %}
                            <div class="tab-pane tab-content-div" id="{{ category.name }}" role="tabpanel">
                        {% endif %}
                    <div class="row">
                        {% for key, value in category.subs.items %}
                            <div class="col-sm-2 sub-link" onclick="getList('{{ key }}')">
                                {{ value }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>

                <div id="recentHeadingDiv" style="display: none">
                    <h4 class="text-center">Recent Product Lines</h4>
                </div>

                <div class="item-list row" id="subCatItems">

                </div>

    </section>

    <script>

        function getList(y) {
            $.getJSON('/api/pop_list/' + y, function (data) {
                $('#subCatItems').empty();
                $('#recentHeadingDiv').show();
                $.each(data, function (i, item) {
                    $('#subCatItems').append('<div class="col-md-4 recent-item" onclick="goToProductPage('{{' + item.id + '}}')"><h4>' + item.name + '</div>');
                });
            });
        }


        function goToProductPage(id) {
            window.location = '/product_line/' + id;
        }

        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-pills a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // With HTML5 history API, we can easily prevent scrolling!
        $('.nav-pills a').on('shown.bs.tab', function (e) {
            if (history.pushState) {
                history.pushState(null, null, e.target.hash);
            } else {
                window.location.hash = e.target.hash; //Polyfill for old browsers
            }
        })

        $(document).ready(function () {
            $(this).scrollTop(0);
        });

    </script>
{% endblock %}